<div class="user-chat-box">
  <h2>User X</h2>

  <div id="chat-messages-list">
    <div class="other-message">
        <div class="message">
            <sub>John</sub>
            <span> Other Message </span>
        </div>
    </div>
    <div class="self-message">
        <div class="message">
            <span> Self Message </span>
        </div>
    </div>
</div>

  <div class="message-input-container">
    <input type="text" placeholder="Type message here...">
    <button>Send</button>
  </div>
</div>
