<div class="user-chat-box">
  <div class="chat-header">
    <h2>{{name}}</h2>
    <button (click) = 'leaveChat()'>X</button>
  </div>

  <div class="chat-messages-list">
    <div *ngFor="let message of myMessages">
      <cr-message [message]="message" [receiver]="name"></cr-message>
    </div>
    <!-- <ng-container #messageContainer></ng-container> -->
  </div>

  <div class="message-input-container">
    <input type="text" placeholder="Type message here..." [(ngModel)] = 'newMessage'>
    <button (click) = "sendMessage()" [disabled]="isDisabled">Send</button>
  </div>
</div>
