.message {
  display: inline-block;
  padding: 10px;
  background-color: #a0dcff;
}

.message sub {
  display: block;
}

.other-message {
  text-align: left;
}

.self-message {
  text-align: right;
}
